
@{
    ViewData["Title"] = "تایید ایمیل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert">
    <p class="alert-success">ایمیل شما تایید شد اکنون می توانید وارد سایت شوید</p>
    <p>
        <a class="link" href="/account"> ورود به سایت </a>
        |
        <a class="link" href="/">صفحه ی اصلی </a>
    </p>
</div>
@section styles {
    <link href="/css/emailcregisters.css" rel="stylesheet" />
    <link href="/css/swal.css" rel="stylesheet" />
}
@section scripts{
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/swal.js"></script>
    <script>
        window.onload = () => {
            Swal.fire({
                icon: 'success',
                title: ' موفقیت',
                text: 'ایمیل شما با موفقیت تایید شد اکنون می توانید وارد سایت شوید',

            })
        };
        function info() {
            var span = document.createElement("span");
            span.innerHTML = 'abc<br>efg'

            Swal.fire({
                icon: 'info',
                title: ' درباره ی ما ',
                html: 'دیزاینر : محمد مصطفی دستجردی  <br/> برنامه نویس : محمد امین کارویزی ',
                footer: '<a href="http://mamindeve-001-site1.atempurl.com" class="link">دگر سایت ها (نیاز به فیلتر شکن دارد )</a>'

            })
        }
        function ContactUs() {
            Swal.fire({
                icon: 'info',
                title: 'تماس با ما',
                html: 'محمد مصطفی دستجردی </br> آیدی تلگرام : mmd_program </br></br>محمد امین کارویزی </br> آیدی تلگرام : M_AminK </br> آیدی ایتا : Mamin84',
                footer: '<a href="http://mamindeve-001-site1.atempurl.com" class="link">دگر سایت ها (نیاز به فیلتر شکن دارد )</a>'

            })
        }
    </script>
}
